<template>
    <div>
      <form-create v-model="fApi" :rule="rule" :option="option"></form-create>
    </div>
</template>
<script>
export default {
  data () {
    return {
      fApi: {},
      option: {
        form: {
          labelWidth: '100px'
        },
        resetBtn: false
      },
      rule: [
        {
          type: 'template',
          title: '测试render',
          render: createElement => {
            return createElement('input', '文字')
          }
        }
      ]
    }
  }
}
</script>
