<template>
    <div>
      <form-create v-model="fApi" :rule="rule" :option="option"></form-create>
    </div>
</template>
<script>
export default {
  data () {
    return {
      fApi: {},
      option: {
        form: {
          labelWidth: '100px'
        },
        resetBtn: false
      },
      rule: [
        {
          type: 'input',
          title: '文字提示',
          field: 'tooltip',
          props: {
            type: 'text',
            clearable: true,
            placeholder: '有文字提示'
          }
        },
        {
          type: 'span',
          title: ' ',
          children: ['警告：这是提示文字,这是提示文字,这是提示文字'],
          style: {
            position: 'absolute',
            top: '-25px',
            'font-size': '0.6rem',
            color: 'red'
          }
        },
        {
          type: 'el-row',
          title: '带后缀',
          field: 'fieldx',
          children: [
            {
              type: 'select',
              field: 'fieldx1',
              options: [
                {
                  value: 1,
                  label: '中国'
                },
                {
                  value: 2,
                  label: '中国澳门'
                }
              ],
              col: {
                span: 3
              }
            },
            {
              type: 'input',
              title: '',
              field: 'fieldx2',
              props: {
                placeholder: '请输入号码'
              },
              col: {
                span: 17
              }
            },
            {
              type: 'span',
              col: {
                span: 2
              },
              children: ['后缀'],
              style: {
                'margin-left': '10px'
              }
            }
          ]
        },
        {
          type: 'input',
          title: '其他表单',
          field: 'field2'
        },
        {
          type: 'span',
          title: '纯标题',
          children: [' '],
          className: 'title-class',
          style: {
            width: '300px',
            'font-weight': 1200
          }
        },
        {
          type: 'input',
          title: '其他表单',
          field: 'field3'
        },
        {
          type: 'div',
          className: 'line-class'
        },
        {
          type: 'input',
          title: '其他表单',
          field: 'field4'
        }
      ]
    }
  }
}
</script>
<style>
.title-class {
  font-weight: 1000;
}
.line-class{
  border-bottom: 1px solid black;
}
</style>
