<template>
  <div>
    <form-create v-model="fApi" :rule="rule" :option="option"
      @goods-name-change="change"></form-create>
  </div>
</template>
<script>
import {maker} from 'form-create/element'
import Vue from 'vue'
// import mock from '../mock/form1Rule'
// import formCreate from 'form-create'

export default {
  name: 'form1',
  data () {
    let that = this
    return {
      formData: {},
      fApi: {},
      option: {
        // 显示重置按钮
        resetBtn: true,
        submitBtn: false,
        form: {
          labelWidth: '100px',
          labelPosition: 'right' // 标题左对齐
        },
        row: { // 对表单组件布局配置
          // type: 'flex',
          // justify: 'start', // flex 水平布局
          // align: 'top' // flex 垂直布局
        },
        // 表单提交事件
        onSubmit: function (formData) {
          alert(JSON.stringify(formData))
          // 按钮进入提交状态
          that.fApi.btn.loading()
          // 重置按钮禁用
          // that.fApi.resetBtn.disabled()
          setTimeout(() => {
            console.log('finish')
            // 提交状态结束
            that.fApi.btn.finish()
          }, 500)
        },
        mounted: function () { // 表单生成完毕事件
        }
      },
      rule: [
        {
          type: 'input',
          title: '活动名称',
          field: 'active_name',
          value: '',
          props: {
            'type': 'text',
            'clearable': true,
            'disabled': false,
            'readonly': false,
            'placeholder': '请输入活动名称'
          },
          validate: [
            {
              required: true,
              message: '请输入活动名称',
              trigger: 'blur'
            },
            { // 自定义校验规则
              message: '名称不得少于4个字符',
              trigger: 'blur',
              validator: (rule, value, cb) => {
                if (value && value.length >= 4) {
                  cb()
                } else {
                  cb(new Error())
                }
              }
            }
          ],
          col: {
            span: 24
          },
          event: {
            change: (value) => { // 失去焦点时触发
              console.log(`change value: ${value}`)
            }
          }
        },
        {
          type: 'select',
          title: '活动区域',
          field: 'active_zone',
          value: [],
          props: {
            'multiple': false,
            'clearable': true,
            'placeholder': '请选择'
          },
          options: [
            {
              'value': 1, 'label': '区域一', 'disabled': false
            },
            {
              'value': 2, 'label': '区域二', 'disabled': false
            },
            {
              'value': 3, 'label': '区域三', 'disabled': true
            }
          ],
          col: {
            span: 24
          }
        },
        {
          type: 'DatePicker',
          title: '活动时间',
          field: 'active_date',
          value: ['2019-05-15'],
          props: {
            type: 'date',
            format: 'yyyy-MM-dd',
            editable: false
          },
          col: {
            span: 8
          }
        },
        maker.create('el-col').col({span: 2}).children([
          maker.create('span').domProps({
            innerHTML: '-'
          })
        ]),
        {
          type: 'TimePicker',
          title: '',
          field: 'active_time',
          value: '',
          col: {
            span: 8
          }
        },
        maker.template(`<el-form-item label="活动时间">
            <el-col :span="9">
              <el-date-picker type="date" placeholder="选择日期" v-model="date" style="width: 100%;"></el-date-picker>
            </el-col>
            <el-col class="line" :span="1">-</el-col>
            <el-col :span="9">
              <el-time-picker type="fixed-time" placeholder="选择时间" v-model="time" style="width: 100%;"></el-time-picker>
            </el-col>
          </el-form-item>`, new Vue({
          data () {
            return {
              date: '2019-05-16',
              time: ''
            }
          },
          created () {
            this.$on('fc:set-value', this.onSetValue)
          },
          methods: {
            onSetValue (val, $f) {
              console.log(val)
              this.date = val
            }
          }
        })),
        maker.template('<el-button @click="onClick" >{{num}}</el-button>', new Vue({
          data () {
            return {
              num: 0,
              disabled: false
            }
          },
          methods: {
            onClick: function () {
              this.num++
              console.log(this.num)
              console.log(that.fApi.rule[6].vm)
            },
            // 表单禁用事件
            onDisabled: function (disabled) {
              this.disabled = disabled
            },
            // 表单重置事件
            onResetField: function () {
              this.num = 0
            },
            // 表单提交事件
            onInput: function (cb, $f) {
              cb(this.num)
            },
            // 通过setValue,changeField,changeValue方法设置表单值时事件
            onSetValue: function (val, $f) {
              this.num = val
            }
          },
          created: function () {
            // 通过表单回调事件，修改组件内部状态
            this.$on('fc:disabled', this.onDisabled)
            this.$on('fc:reset-field', this.onResetField)
            this.$on('fc:input', this.onInput)
            this.$on('fc:set-value', this.onSetValue)
          }
        }), 'tmp', '自定义 title'),
        {
          type: 'switch',
          title: '即时配送',
          field: 'ps_now',
          value: true,
          col: {
            span: 24
          }
        },
        {
          type: 'checkbox',
          title: '活动性质',
          field: 'active_type',
          value: [0, 1],
          options: [
            {value: 0, label: '美食/餐厅线上活动'},
            {value: 1, label: '地推活动'},
            {value: 2, label: '线下主题活动'},
            {value: 3, label: '单纯品牌曝光'}
          ],
          col: {
            span: 24
          }
        },
        {
          type: 'checkbox',
          title: '活动性质2',
          field: 'active_type2',
          value: [1, 3],
          options: [
            {value: 0, label: '美食/餐厅线上活动'},
            {value: 1, label: '地推活动'},
            {value: 2, label: '线下主题活动'},
            {value: 3, label: '单纯品牌曝光'}
          ],
          col: {
            span: 12
          }
        },
        maker.template(`<el-form-item label="活动性质">
            <div :model="active_type3" :class="active_checkbox_group">
              <el-checkbox label="美食/餐厅线上活动" name="type" :class="checkbox_item"></el-checkbox>
              <el-checkbox label="地推活动" name="type" :class="checkbox_item"></el-checkbox>
              <el-checkbox label="线下主题活动" name="type" :class="checkbox_item"></el-checkbox>
              <el-checkbox label="单纯品牌曝光" name="type" :class="checkbox_item"></el-checkbox>
            </div>
          </el-form-item>`, new Vue({
          data () {
            return {
              active_type3: ['线下主题活动', '单纯品牌曝光'],
              active_checkbox_group: 'active-checkbox-group',
              checkbox_item: 'checkbox-item'
            }
          }
        })),
        {
          type: 'radio',
          title: '特殊资源',
          field: 'sp_res',
          value: '',
          options: [
            {
              value: 0, label: '线上品牌商赞助', disabled: false
            },
            {
              value: 1, label: '线下场地免费', disabled: false
            }
          ],
          props: {
            'type': undefined,
            'size': 'default',
            'vertical': false
          },
          col: {
            span: 24
          }
        },
        {
          type: 'input',
          title: '活动形式',
          field: 'active_sy',
          props: {
            type: 'textarea',
            rows: 3
          },
          col: {
            span: 24
          }
        }
      ]
    }
  },
  mounted () {
    console.log(this.fApi)
    this.fApi.setValue('active_name', '组件实例通过setValue设置值')
  },
  methods: {
    change () {
      console.log('change')
    }
  }
}
</script>

<style>
.line {
  display: inline;
  text-align: center;
}
.el-checkbox {
  font-size: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 30px;
  width: 200px;
}
.active-checkbox-group {
  position: relative;
  display: flex;
  width: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.checkbox-item {
  flex: 0 1 auto;
  width: 250px;
}
</style>
