<template>
    <div class="main">
        <div class="leftPanel">
            <el-button type="primary" class="optBtn moveRight" @click="normalClick">典型表单</el-button>
            <el-button type="primary" class="optBtn">行内表单</el-button>
            <el-button type="primary" class="optBtn">对齐方式</el-button>
            <el-button type="primary" class="optBtn">表单验证</el-button>
            <el-button type="primary" class="optBtn">动态增减表单</el-button>
        </div>
        <div class="rightPanel">
            <div>RightPanel</div>
            <div class="editor-content" v-loading="loading">
                <!-- 表单主体部分 -->
                <div ref="fc" id="form-create"></div>
            </div>
        </div>
    </div>
</template>
<script>
import formConfig from '../formConfig/main'
import {handlePlaceholder} from '../formConfig/handle/handle'
import Vue from 'vue'
import FormType from '../formConfig/formType'

export default {
  name: 'ApplicationEditor',
  data () {
    return {
      showAppendForm: false,
      formList: [], // 左侧表单列表
      isShowRemoveBtn: true,
      isShowIndex: 1000,
      loading: false,
      $f: null,
      instance_arr: [],
      model: {},
      current: '',
      formType: '',
      formTypeCollection: [],
      rules: [],
      vm_collection: new Map(),
      allData: {},
      submitData: new Map(),
      isValidate: false,
      count: 0
    }
  },
  computed: {
    selectOptions: function () {
      return [...formConfig.entries()].map((item) => {
        let idList = this.formList.map((item) => {
          return item.id
        })
        let bool = idList.indexOf(item[0]) !== -1
        return {value: item[0], label: item[1].name, disabled: bool}
      })
    },
    vm_collection_id: function () {
      // let temp = this.count
      return [...this.vm_collection.keys()]
    }
  },
  methods: {
    normalClick () {
      this.renderForm(FormType.NORMAL)
    },
    renderForm (renderId) {
      this.loading = true
      this.loadFormData(renderId)
    },
    loadFormData (formId) {
      let target = formConfig.get(formId)
      this.rules = handlePlaceholder(target.obj.rule)
      this.mergeRule(this.rules)
      this.createForm()
      this.$f.submit()
    },
    // 合成规则
    mergeRule (source) {
      this.setOptions(source)
      source.map((item, index) => {
        if (item._vm) {
          this.setVmCollection(item._vm)
        } else if (item.custom) {
          source[index] = this.makeMarker(item)
        } else if (item.request) {
          this.setSelectData(item, index)
        }
      })
    },
    setOptions (source) {
      source.forEach(item => {
        if (item.type && item.type === 'select') {
          !item.options && this.$set(item, 'options', [])
        }
      })
    },
    setVmCollection (vm) {
    },
    // 生成自定义组件
    makeMarker (source) {
      const vm = new Vue(source.vm)
      this.setVmCollection(vm)
      return this.$formCreate.maker.createTmp(source.template, vm, source.field, source.label, source.col)
    },

    // 设置select打开下拉框事件，因为渲染函数on事件不支持修饰符，所以现在需要频繁请求，解决方法是使用缓存
    setSelectData (item) {
      let func = () => {
        this.querySelectData(item.url).then(d => { item.options = d })
      }
      if (item.event) {
        item.event['visible-change'] = func
      } else {
        item.event = {}
        item.event['visible-change'] = func
      }
    },
    querySelectData (url) {
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          const option = [
            {value: 1, label: '第一个'},
            {value: 2, label: '第二个'},
            {value: 3, label: '第三个'}
          ]
          resolve(option)
        }, 200)
      })
    },
    createForm () {
      let _this = this
      const root = this.$refs.fc
      root.innerHTML = ''
      this.$f = this.$formCreate(
        this.rules,
        {
          el: root,
          resetBtn: false,
          submitBtn: false,
          mounted: () => {
            _this.loading = false
          },
          onSubmit: function (formData) {
            // TODO 每次加载带自定义组件的表单时，数据才会双向绑定
            if (_this.submitData.size === 0) {
              _this.allData = {};
              //   let vals = _this.vm_collection.values()
              //   vals = [...vals]
              [..._this.vm_collection.values()].map(item => Object.assign(_this.allData, item.extendData))
              Object.assign(_this.allData, formData)
              _this.submitData.set(_this.formType, _this.allData)
            } else {
              _this.vm_collection_id.forEach(item => {
                if (String(item).indexOf(_this.formType) !== -1) {
                  if (!_this.submitData.get(_this.formType)) {
                    _this.submitData.set(_this.formType, Object.assign(_this.vm_collection.get(item).extendData, formData))
                  } else {
                    Object.assign(_this.submitData.get(_this.formType), _this.vm_collection.get(item).extendData, formData)
                  }
                } else {
                  _this.submitData.set(_this.formType, formData)
                }
              })
              _this.vm_collection_id.length === 0 && _this.submitData.set(_this.formType, formData)
            }
          }
        }
      )
    }
  }
}
</script>
<style scoped>
.main {
    position: relative;
    width: 100%;
    height: 100%;
}
.leftPanel {
    position: absolute;
    width: 200px;
    left: 0px;
    top: 0px;
    height: 100%;
}
.rightPanel {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 85%;
    height: 100%;
}
.optBtn {
    width: 180px;
    height: 40px;
    margin-top: 10px;
}
.moveRight {
    position: relative;
    left: 5px;
}
.editor-content {
    width: 100%;
    overflow-y: auto;
}
</style>
