<template>
  <div>
    <form-create v-model="fApi" :rule="rule" :option="option"></form-create>
  </div>
</template>
<script>
import {maker} from 'form-create'

export default {
  name: 'Form1Maker',
  data () {
    let that = this
    return {
      fApi: {},
      option: {
        // 显示重置按钮
        resetBtn: true,
        form: {
          labelWidth: '100px'
        },
        // 表单提交事件
        onSubmit: function (formData) {
          alert(JSON.stringify(formData))
          // 按钮进入提交状态
          that.fApi.btn.loading()
          // 重置按钮禁用
          // that.fApi.resetBtn.disabled()
          setTimeout(() => {
            console.log('finish')
            // 提交状态结束
            that.fApi.btn.finish()
          }, 500)
        },
        mounted: function () {
        }
      },
      rule: [
        // 参数 {string} title、{string} field、 value、{object} props
        maker.input('活动名称', 'active_name', '', {
          type: 'text',
          clearable: true,
          disabled: false,
          readonly: false,
          placeholder: '请输入活动名称'
        }).validate([
          {
            required: true,
            message: '请输入活动名称',
            trigger: 'blur'
          }
        ]).col({
          span: 24
        }),
        maker.select('活动区域', 'active_zone', '', {
          multiple: false,
          clearable: true,
          placeholder: '请选择'
        }).options([
          {
            value: 1,
            label: '区域一',
            disabled: false
          },
          {
            value: 2,
            label: '区域二',
            disabled: false
          },
          {
            value: 3,
            label: '区域三',
            disabled: true
          }
        ]).col({span: 24}),
        maker.datePicker('活动时间', 'active_date', '2019-05-15', {
          type: 'date',
          format: 'yyyy-MM-dd',
          editable: false
        }).col({span: 6}),
        maker.timePicker('-', 'active_time').col({span: 10}),
        maker.switch('即时配送', 'ps_now', true).col({span: 24}),
        maker.checkbox('活动性质', 'active_type', [0, 1]).options([
          {
            value: 0,
            label: '美食/餐厅线上活动'
          },
          {
            value: 1,
            label: '地推活动'
          },
          {
            value: 2,
            label: '线下主题活动'
          },
          {
            value: 3,
            label: '单纯品牌曝光'
          }
        ]).col({span: 24}),
        maker.radio('特殊资源', 'sp_res', '', {
          type: undefined,
          size: 'default',
          vertical: false
        }).options([
          {
            value: 0,
            label: '线上品牌商赞助',
            disabled: false
          },
          {
            value: 1,
            label: '线下场地免费',
            disabled: false
          }
        ]).col({span: 24}),
        maker.input('活动形式', 'active_sy', '', {
          type: 'textarea',
          rows: 3
        }).col({span: 24})
      ]
    }
  }
}
</script>
<style>

</style>
