<template>
  <div>
    <form-create v-model="fApi" :rule="rule" :option="option"></form-create>
    <span>{{$t('message.label')}}</span>
  </div>
</template>
<script>
export default {
  data () {
    return {
      fApi: {},
      option: {
        form: {
          labelWidth: '100px'
        },
        resetBtn: false
      },
      lang: 'cn',
      rule: [
        {
          type: 'el-row',
          title: this.$t('message.label'),
          field: 'row',
          children: [
            {
              type: 'input',
              field: 'phonenumber',
              col: {
                span: 16
              }
            },
            {
              type: 'el-button',
              props: {
                type: 'primary'
              },
              domProps: {
                innerHTML: this.$t('message.text')
              },
              style: {
                'margin-left': '10px',
                width: '120px'
              },
              // event: {
              //   click: function () {
              //     console.log('click')
              //   }
              // },
              // button 的click事件通过event属性绑定无效
              on: {
                click: () => {
                  // let child = this.rule[0].children[1]
                  let num = 10
                  setTimeout(() => {
                    this.setInnerHTML(this.rule[0], num, 0, 'row')
                  }, 1000)
                }
              }
            }
          ]
        },
        {
          type: 'el-row',
          title: this.$t('message.label'),
          field: 'row1',
          children: [
            {
              type: 'input',
              field: 'phonenumber1',
              col: {
                span: 16
              }
            },
            {
              type: 'el-button',
              props: {
                type: 'primary'
              },
              domProps: {
                innerHTML: this.$t('message.text')
              },
              style: {
                'margin-left': '10px',
                width: '120px'
              },
              // event: {
              //   click: function () {
              //     console.log('click')
              //   }
              // },
              // button 的click事件通过event属性绑定无效
              on: {
                click: () => {
                  // let child = this.rule[0].children[1]
                  let num = 10
                  setTimeout(() => {
                    this.setInnerHTML(this.rule[1], num, 1, 'row1')
                  }, 1000)
                }
              }
            }
          ]
        },
        {
          type: 'el-row',
          title: this.$t('message.label'),
          field: 'row2',
          children: [
            {
              type: 'input',
              field: 'phonenumber2',
              col: {
                span: 16
              }
            },
            {
              type: 'el-button',
              props: {
                type: 'primary'
              },
              domProps: {
                innerHTML: this.$t('message.text')
              },
              style: {
                'margin-left': '10px',
                width: '120px'
              },
              // event: {
              //   click: function () {
              //     console.log('click')
              //   }
              // },
              // button 的click事件通过event属性绑定无效
              on: {
                click: () => {
                  // let child = this.rule[0].children[1]
                  let num = 10
                  setTimeout(() => {
                    this.setInnerHTML(this.rule[2], num, 2, 'row2')
                  }, 1000)
                }
              }
            }
          ]
        },
        {
          type: 'el-row',
          title: this.$t('message.label'),
          field: 'row3',
          children: [
            {
              type: 'input',
              field: 'phonenumber3',
              col: {
                span: 16
              }
            },
            {
              type: 'el-button',
              props: {
                type: 'primary'
              },
              domProps: {
                innerHTML: this.$t('message.text')
              },
              style: {
                'margin-left': '10px',
                width: '120px'
              },
              // event: {
              //   click: function () {
              //     console.log('click')
              //   }
              // },
              // button 的click事件通过event属性绑定无效
              on: {
                click: () => {
                  // let child = this.rule[0].children[1]
                  let num = 10
                  setTimeout(() => {
                    this.setInnerHTML(this.rule[3], num, 3, 'row3')
                  }, 1000)
                }
              }
            }
          ]
        },
        {
          type: 'el-row',
          title: this.$t('message.label'),
          field: 'row4',
          children: [
            {
              type: 'input',
              field: 'phonenumber4',
              col: {
                span: 16
              }
            },
            {
              type: 'el-button',
              props: {
                type: 'primary'
              },
              domProps: {
                innerHTML: this.$t('message.text')
              },
              style: {
                'margin-left': '10px',
                width: '120px'
              },
              // event: {
              //   click: function () {
              //     console.log('click')
              //   }
              // },
              // button 的click事件通过event属性绑定无效
              on: {
                click: () => {
                  // let child = this.rule[0].children[1]
                  let num = 10
                  setTimeout(() => {
                    this.setInnerHTML(this.rule[4], num, 4, 'row4')
                  }, 1000)
                }
              }
            }
          ]
        },
        {
          type: 'el-row',
          title: this.$t('message.label'),
          field: 'row5',
          children: [
            {
              type: 'input',
              field: 'phonenumber5',
              col: {
                span: 16
              }
            },
            {
              type: 'el-button',
              props: {
                type: 'primary'
              },
              domProps: {
                innerHTML: this.$t('message.text')
              },
              style: {
                'margin-left': '10px',
                width: '120px'
              },
              // event: {
              //   click: function () {
              //     console.log('click')
              //   }
              // },
              // button 的click事件通过event属性绑定无效
              on: {
                click: () => {
                  // let child = this.rule[0].children[1]
                  let num = 10
                  setTimeout(() => {
                    this.setInnerHTML(this.rule[5], num, 5, 'row5')
                  }, 1000)
                }
              }
            }
          ]
        },
        {
          type: 'el-row',
          title: this.$t('message.label'),
          field: 'row6',
          children: [
            {
              type: 'input',
              field: 'phonenumber6',
              col: {
                span: 16
              }
            },
            {
              type: 'el-button',
              props: {
                type: 'primary'
              },
              domProps: {
                innerHTML: this.$t('message.text')
              },
              style: {
                'margin-left': '10px',
                width: '120px'
              },
              // event: {
              //   click: function () {
              //     console.log('click')
              //   }
              // },
              // button 的click事件通过event属性绑定无效
              on: {
                click: () => {
                  // let child = this.rule[0].children[1]
                  let num = 10
                  setTimeout(() => {
                    this.setInnerHTML(this.rule[6], num, 6, 'row6')
                  }, 1000)
                }
              }
            }
          ]
        },
        {
          type: 'el-row',
          title: this.$t('message.label'),
          field: 'row7',
          children: [
            {
              type: 'input',
              field: 'phonenumber7',
              col: {
                span: 16
              }
            },
            {
              type: 'el-button',
              props: {
                type: 'primary'
              },
              domProps: {
                innerHTML: this.$t('message.text')
              },
              style: {
                'margin-left': '10px',
                width: '120px'
              },
              // event: {
              //   click: function () {
              //     console.log('click')
              //   }
              // },
              // button 的click事件通过event属性绑定无效
              on: {
                click: () => {
                  // let child = this.rule[0].children[1]
                  let num = 10
                  setTimeout(() => {
                    this.setInnerHTML(this.rule[7], num, 7, 'row7')
                  }, 1000)
                }
              }
            }
          ]
        },
        {
          type: 'el-row',
          title: this.$t('message.label'),
          field: 'row8',
          children: [
            {
              type: 'input',
              field: 'phonenumber8',
              col: {
                span: 16
              }
            },
            {
              type: 'el-button',
              props: {
                type: 'primary'
              },
              domProps: {
                innerHTML: this.$t('message.text')
              },
              style: {
                'margin-left': '10px',
                width: '120px'
              },
              // event: {
              //   click: function () {
              //     console.log('click')
              //   }
              // },
              // button 的click事件通过event属性绑定无效
              on: {
                click: () => {
                  // let child = this.rule[0].children[1]
                  let num = 10
                  setTimeout(() => {
                    this.setInnerHTML(this.rule[8], num, 8, 'row8')
                  }, 1000)
                }
              }
            }
          ]
        },
        {
          type: 'el-row',
          title: this.$t('message.label'),
          field: 'row9',
          children: [
            {
              type: 'input',
              field: 'phonenumber9',
              col: {
                span: 16
              }
            },
            {
              type: 'el-button',
              props: {
                type: 'primary'
              },
              domProps: {
                innerHTML: this.$t('message.text')
              },
              style: {
                'margin-left': '10px',
                width: '120px'
              },
              // event: {
              //   click: function () {
              //     console.log('click')
              //   }
              // },
              // button 的click事件通过event属性绑定无效
              on: {
                click: () => {
                  // let child = this.rule[0].children[1]
                  let num = 10
                  setTimeout(() => {
                    this.setInnerHTML(this.rule[9], num, 9, 'row9')
                  }, 1000)
                }
              }
            }
          ]
        },
        {
          type: 'el-row',
          title: this.$t('message.label'),
          field: 'row10',
          children: [
            {
              type: 'input',
              field: 'phonenumber10',
              col: {
                span: 16
              }
            },
            {
              type: 'el-button',
              props: {
                type: 'primary'
              },
              domProps: {
                innerHTML: this.$t('message.text')
              },
              style: {
                'margin-left': '10px',
                width: '120px'
              },
              // event: {
              //   click: function () {
              //     console.log('click')
              //   }
              // },
              // button 的click事件通过event属性绑定无效
              on: {
                click: () => {
                  // let child = this.rule[0].children[1]
                  let num = 10
                  setTimeout(() => {
                    this.setInnerHTML(this.rule[10], num, 10, 'row10')
                  }, 1000)
                }
              }
            }
          ]
        },
        {
          type: 'el-row',
          title: '语言切换',
          field: 'fieldLang',
          children: [
            {
              type: 'el-button',
              title: '',
              field: 'fieldLangbtn',
              domProps: {
                innerHTML: '语言切换'
              },
              on: {
                click: () => {
                  this.lang = this.lang === 'cn' ? 'en' : 'cn'
                  localStorage.setItem('lang', this.lang)
                  this.langChange(this.lang)
                }
              }
            }
          ]
        }
      ]
    }
  },
  methods: {
    setInnerHTML (rule, num, index, field) {
      if (rule && num >= 0) {
        rule.children[1].domProps.innerHTML = `${this.$t('message.send')}(${num}s)`
        // 直接取索引更新属性不会刷新，必须通过pop，push方法触发vue刷新
        this.fApi.removeField(field)
        this.rule.splice(index, 0, rule)
        setTimeout(() => {
          this.setInnerHTML(rule, --num, index, field)
        }, 1000)
      } else if (rule) {
        rule.children[1].domProps.innerHTML = this.$t('message.text')
        this.rule.splice(index, 1, rule)
      }
    },
    langChange (e) {
      this.$i18n.locale = e
      this.rule[0].title = this.$t('message.label')
      this.rule[0].children[1].domProps.innerHTML = this.$t('message.text')
    }
  }
}
</script>
