<template>
  <div>
    <form-create v-model="fApi" :rule="rule" :option="option"></form-create>
  </div>
</template>
<script>
export default {
  data () {
    return {
      fApi: {},
      option: {
        resetBtn: false
      },
      rule: [
        {
          type: 'upload',
          field: 'pic',
          title: '轮播图',
          value: [
            'http://img1.touxiang.cn/uploads/20131030/30-075657_191.jpg',
            'http://img1.touxiang.cn/uploads/20131030/30-075657_191.jpg'
          ],
          props: {
            type: 'select',
            uploadType: 'image',
            action: 'https://jsonplaceholder.typicode.com/posts/',
            name: 'pic',
            multiple: true,
            // accept: 'image\/*',
            format: ['jpg', 'jpeg', 'png', 'gif'],
            limit: 5,
            onSuccess: function (res) {
              console.log(res)
              return res.data
            }
          }
        }
      ]
    }
  }
}
</script>
