<template>
  <div>
    <form-create v-model="fApi" :rule="rule" :option="option"></form-create>
  </div>
</template>
<script>
import {maker} from 'form-create/element'
import Vue from 'vue'

export default {
  name: 'FormInline',
  data () {
    let that = this
    return {
      unique: 1,
      fApi: '',
      option: {
        form: {
          labelWidth: '100px'
        },
        onSubmit (...arg) {
          that.onSubmit(...arg)
        }
      },
      rule: [
        {
          type: 'input',
          title: '审批人',
          field: 'sp',
          props: {
            type: 'text',
            clearable: true,
            placeholder: '审批人'
          },
          validate: [
            {
              required: true,
              message: '请输入审批人',
              trigger: 'blur'
            }
          ],
          col: {
            span: 8
          }
        },
        {
          type: 'select',
          title: '活动区域',
          field: 'active_zone',
          props: {
            placeholder: '活动区域'
          },
          options: [
            {
              value: 1, label: '区域一', disabled: false
            },
            {
              value: 2, label: '区域二', disabled: false
            }
          ],
          col: {
            span: 8
          }
        },
        // maker.create('el-button').props({
        //   type: 'primary'
        // }).col({span: 8}).children([
        //   maker.create('span').domProps({
        //     innerHTML: '添加'
        //   })
        // ])
        maker.template('<el-button type="primary" @click=onClick>添加</el-button>', new Vue({
          methods: {
            onClick () {
              that.add()
            }
          }
        })).col({span: 8})
      ]
    }
  },
  methods: {
    getUniqueId () {
      return `unique_${this.unique++}`
    },
    keywordRule () {
      return {
        type: 'input',
        field: this.getUniqueId(),
        title: '关键字',
        props: {
          placeholder: '必填!只能输入3-8个字符'
        },
        validate: [
          {
            required: true,
            type: 'string',
            message: '请输入关键字'
          },
          {
            type: 'string',
            min: 3,
            message: '最少输入三个字符'
          },
          {
            type: 'string',
            max: 8,
            message: '最多输入8个字符'
          }
        ]
      }
    },
    add () {
      console.log('add')
      let rule = this.keywordRule()
      this.rule.push(rule)
    },
    onSubmit (formData) {
      alert(JSON.stringify(formData))
    }
  }
}
</script>
<style>

</style>
