<template>
    <div>
      <form-create v-model="fApi" :rule="rule" :option="option"></form-create>
    </div>
</template>
<script>
export default {
  data () {
    return {
      fApi: {},
      option: {
        form: {
          labelWidth: '100px'
        },
        // submitBtn: true,
        resetBtn: false,
        onSubmit: function (formData) {
          alert(JSON.stringify(formData))
        }
      },
      rule: [
        {
          type: 'input',
          title: '文字提示',
          field: 'tooltip',
          props: {
            type: 'text',
            clearable: true,
            placeholder: '有文字提示'
          },
          validate: [
            {
              required: true,
              message: '请输入文字',
              trigger: 'blur'
            }
          ]
        },
        {
          type: 'template',
          template: `<span class="top-offset">警告：这是提示文字 ,这是提示文字,这是提示文字</span>`,
          title: '  '
        },
        /*  使用 tempalte 有一个坑，就是只能使用单个元素，不支持元素嵌套
            如： <div></div>  <input></input> 等可以使用
            <div><input></input></div> 不支持，它只渲染第一层元素
            如果需要渲染多个元素，可用如下例children的方式
        */
        {
          type: 'el-row',
          title: '带后缀',
          field: 'field1',
          children: [
            {
              type: 'select',
              field: 'field12',
              options: [
                {
                  value: 1,
                  label: '中国'
                },
                {
                  value: '2',
                  label: '中国澳门'
                }
              ],
              col: {
                span: 3
              }
            },
            {
              type: 'input',
              title: '',
              field: 'field11',
              props: {
                placeholder: '请输入号码'
              },
              col: {
                span: 17
              }
            },
            {
              type: 'template',
              template: '<span>&nbsp;&nbsp;后缀</span>',
              col: {
                span: 2
              }
            }
          ]
        },
        {
          type: 'input',
          title: '其他表单',
          field: 'field2'
        },
        {
          type: 'template',
          template: '<span></span>',
          title: '纯标题',
          className: 'title-class'
        },
        {
          type: 'input',
          title: '其他表单',
          field: 'field3'
        },
        {
          type: 'template',
          template: '<div class="line-class"></div>'
        },
        {
          type: 'input',
          title: '其他表单',
          field: 'field4'
        }
      ]
    }
  }
}
</script>
<style>
.el-input__inner {
  /* width: 400px; */
}
.top-offset {
  /* position: relative;
  top: -20px; */
  position: absolute;
  top: -25px;
  font-size: 0.6rem;
  color: red;
}
.title-class {
  font-weight: 1000;
}
.line-class{
  border-bottom: 1px solid black;
}
</style>
